.webapi{
    padding: 1rem;
    margin: 2rem;
}

.displayNone {
    display: none;
}
.localAPI {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.input-group {
    margin-bottom: 10px;
}

.input-field {
    padding: 10px;
    margin-right: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: calc(70% - 11px);
}

.btn {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
}

.btn-add {
    background-color: #4CAF50;
    color: white;
}

.btn-get {
    background-color: #2196F3;
    color: white;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.btn-update {
    background-color: #f0ad4e;
    color: white;
}

.btn-delete {
    background-color: #d9534f;
    color: white;
}

.api-result {
    margin-top: 20px;
    padding: 10px;
    background-color: #e2e2e2;
    border: 1px solid #ccc;
    border-radius: 4px;
}
